{% extends "base.html" %}


{% block content %}

<main class="layout__main-container">
  <main class="main">

    <header class="main__header text-secondary">
      <div class="header-feed content-container">
        <header class="header-feed__title-container">
          <div class="header-feed__title fs-heading-4 fw-bold text-primary">
            Login
          </div>
        </header>

        <footer class="header-feed__footer-container">

        </footer>
      </div>
    </header>

    <div class="main__content ">
      <div class="flex-container">

      
        <main class="content_container centered-container">
          <form method="POST" class="">
          
          
          {% csrf_token %}

          {{ form.as_p }}

          <button type="submit" class="btn btn-primary">Sign In</button>

          </form>
          <a href="{% url 'author:signup' %}">Not a member? Click here to signup</a>
        </main>
      </div>

    </div>
</main>


{% endblock %}
