{% extends "base.html" %}


{% block content %}

<main class="layout__main-container">
  <main class="main">

    <header class="main__header ">
      <div class="header-feed content-container">
        <header class="header-feed__title-container">
          <div class="header-feed__title fs-heading-2 fw-bold ff-title centered-container col-center-container">
            
            
            <div class="col-center-container">
                <span class="the-title fs-body-3">The</span>
                <span>Write</span>
            </div>
            <span>Another One</span>
         
          </div>
        </header>

        <footer class="col-center-container fw-bold fs-body-3">
            <div>Sign In</div>
        </footer>
      </div>
    </header>

    <div class="main__content ">
      <div class="flex-container">

      
        <main class="content-container col-container centered-container ">
          <form method="POST" class="flex-container-1 col-container fs-body-2">
          
          
          {% csrf_token %}

          {{ form.as_p }}

          
          <button type="submit" class="button-pill button-green fs-body-4">
            <div class="centered-container">
              Sign In
            </div> 
          </button>
          <p>Not a member?</p>

          <a href="{% url 'author:signup' %}" class="button-pill button-blue  fs-body-4">
            <div class="centered-container">
              Register
            </div>

          </a>
          
          
          </form>
        </main>
      </div>

    </div>
</main>


{% endblock %}
