{% extends "base.html" %}

{# at the terminal, run pip install django-bootstrap4 #}



{% block content %}

<main class="layout__main-container">
  <main class="main">

    <header class="main__header">
      <div class="header-feed content-container">
        <header class="header-feed__title-container">
          <div class="header-feed__title fs-heading-4 fw-bold">
            Register
          </div>
        </header>

        <footer class="header-feed__footer-container">

        </footer>
      </div>
    </header>

    <div class="main__content ">
      <div class="flex-container">

      
        <main class="content_container col-container centered-container">
          <form method="POST" class="flex-container-1 col-container">
          
          
          {% csrf_token %}

          {{ form.as_p }}

          <div class="button-container">
            <button type="submit" class="button-pill button-green">Sign Up</button>

          </div>

          </form>
        </main>
      </div>
    </div>
</main>


{% endblock %}
