.alt-author-card__container {
    flex-grow: 1;
}

.alt-author-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    max-width: 74rem;
    margin: 0 auto;
}
/* @media (max-width: 580px) {
    .alt-author-card {
        flex-direction: column;
    }
} */


.alt-author-card__main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
    width: 60%;
}
@media (max-width: 580px) {
    .alt-author-card__main-container {
        width: 100%;
    }
}
.alt-author-card__info {
    word-break: break-word;
}
.alt-author-card__author-name {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.alt-author-card__description {
    /* text-align: center; */
    /* margin-right: 10rem; */
    word-break: break-word;
    /* width: 75%; */
}
.alt-author-card__name-footer {
    display: flex;
    gap: 1rem;
    
   
}
.alt-author-card__footer-container {
    
    /* display: flex; */
    /* justify-content: space-between; */
}