.header-feed {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    /* margin-bottom: 4rem; */
    border-bottom: 1px solid var(--border-primary);
    flex-shrink: 1;
}
.header-feed__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-word;
    /* flex-wrap: wrap; */
}
.header-feed__title {
    display: flex;
    word-break: break-word;
    /* gap: 1rem; */
    /* align-items: center; */
}

@media (max-width: 580px) {
    .header-feed__title {
        flex-direction: column;
    }
}
.header-feed__owner {
    display: flex;
    gap: 1rem;
    align-items: center;
}


.header-feed__main-container {
    display: flex;
    gap: 1rem;
    /* max-width: 60rem; */
    align-items: center;
    /* flex-wrap: wrap; */
    word-wrap: break-word;
}

.header-feed__footer-container {
    display: flex;
    gap: 2rem;
    
}
.header-feed__footer-tab {
    
}
.header-feed__footer-tab--active {
    border-top: 1px solid var(--text-primary);
    font-weight: var(--fw-bold);
}

.header-feed__public {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: var(--clr-green);
    /* min-height: 40rem; */
    border-bottom: 2px solid black;
    padding: 5rem;
    align-items: center;
}

.header-feed__public-title {
    max-width: var(--title-card-width);
}
.header-feed__public-text {
    display: flex;
    flex-grow: 1;
    max-width: var(--title-card-width);
    justify-content: start;
}