.layout {
    display: flex;
    max-width: 100vw;
    margin: 0 auto;
    min-height: 100vh;
}

.layout__navbar-container {
    /* flex-grow: 1; */
    min-width: 6.4rem;
    background-color: var(--background-primary);
    /* previously 18rem when nav was wider*/
    /* margin-left: 2rem; */
    
    /* border-right: 1px solid var(--clr-light-grey); */
    
}

.layout__main-container {
    flex-grow: 1;
    /* padding: 0 2rem 0 2rem; */
}

.layout__aside-container {
    min-width: 34rem;
    border-left: 2px solid var(--border-primary);
}

@media (max-width: 900px) {
    .layout {
        flex-direction: column;
        max-width: 100vw;
        min-height: none;
    }
    .layout__navbar-container {
        min-width: none;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    .layout__main-container {
        padding: 0;
    }
}

.layout-public {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: none;
    margin: 0 auto;
}
.layout__navbar-container-public {
    background-color: var(--background-primary);
    min-width: none;
    position: sticky;
    top: 0;
    z-index: 1000;

}
.layout__main-container-public {
    padding: 0;
}