.write__header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    max-width: 90rem;
    margin-bottom: 4rem;
}
.write__editor-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.write__buttons-container {
    display: flex;
    gap: 1rem;

}

.write__main-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
    
    max-width: 120rem;
}
.write__title-container {
    display: flex;
    /* max-width: 70rem; */
    /* margin: 0 auto; */
   
}
.write__content-container {
    display: flex;
    /* max-width: 70rem; */
    /* margin: 0 auto; */
   
}
.write__modal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.write__tags-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editor__title {
    display: flex;
    max-width: 70rem;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1rem;
    height: 7rem;
    background-color: var(--background-primary);
    color: var(--text-alt-secondary);
    /* border-left: 2px solid var(--border-primary); */
}

#id_title {
    width: none;
    flex-grow: 1;
    flex-shrink: 1;
}

.editor__content {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1rem;
    height: 5rem;
    max-width: 70rem;
    background-color: var(--background-primary);
    color: var(--text-alt-secondary);
    /* border-left: 2px solid var(--border-primary); */
}
@media (max-width: 740px) {
    .editor__title {
        max-width: 50rem;
    }
    .editor__content {
        max-width: 50rem;
    }
}
@media (max-width: 540px) {
    .editor__title {
        max-width: 32rem;
    }
    .editor__content {
        max-width: 32rem;
    }
}

#id_content {
    width: none;
    flex-grow: 1;
    flex-shrink: 1;
}

.editor__tags {
    border: 1px solid var(--border-primary);
    max-width: 40rem;
    /* height: 3rem; */
    padding: 1rem;
}

.write__modal-body{
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    gap: 1rem;


}
