.write__header {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    max-width: 100rem;
    word-break: break-word;
    /* margin-bottom: 2rem; */
}
.write__editor-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.write__buttons-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.write__main-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
    
}
.write__title-container {
    display: flex;
    /* max-width: 70rem; */
    /* margin: 0 auto; */
   
}
.write__content-container {
    display: flex;
    /* max-width: 70rem; */
    /* margin: 0 auto; */
    max-height: 75vh;
   
}
.write__modal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.write__tags-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editor__title {
    display: flex;
    max-width: 100rem;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1rem;
    height: 7rem;
    background-color: var(--background-primary);
    color: var(--text-alt-secondary);
    /* border-left: 2px solid var(--border-primary); */
}

#id_title {
    
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.editor__content {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1rem;
    height: 75vh;
    max-width: 100rem;
    background-color: var(--background-primary);
    color: var(--text-alt-secondary);
    /* border-left: 2px solid var(--border-primary); */
}
/* @media (max-width: 740px) {
    .editor__title {
        max-width: 60rem;
    }
    .editor__content {
        max-width: 60rem;
    }
} */
@media (max-width: 440px) {
    .editor__title {
        max-width: 30rem;
    }
    .editor__content {
        max-width: 30rem;
    }
}
@media (max-width: 340px) {
    .editor__title {
        max-width: 24rem;
    }
    .editor__content {
        max-width: 24rem;
    }
}

#id_content {
    width: none;
    flex-grow: 1;
    flex-shrink: 1;
}

.editor__tags {
    border: 1px solid var(--border-primary);
    max-width: 40rem;
    /* height: 3rem; */
    padding: 1rem;
}

.write__modal-body{
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    gap: 1rem;


}
