{% extends "base.html" %}
{% load static %}
{% load hitcount_tags %}

{% block content %}

<main class="layout__main-container">
  <main class="main">
    <header class="main__header">
      <div class="header-feed text-container-thin">
        <header class="header-feed__title-container">
          <div class="header-feed__title fs-heading-2 fw-bold ff-title centered-container col-center-container">
            
            
            <div class="col-center-container">
                <span>Write</span>
            </div>
            <span>Another One</span>
         
          </div>
        </header>

        <footer class="col-center-container fw-bold fs-body-5 ff-sub-title">
            <div>&lt;&lt; Letter from the Editor &gt;&gt;</div>
            <div class="fw-semi-bold">Francisco J. PAGES</div>
        </footer>
      </div>
    </header>

    <div class="main__content ">
      <div class="flex-container">

        <main class="content_container centered-container col-container text-container-thin fs-body-3 ff-read">
          <span>Dear Reader,</span>
          <br>
          <span>
              Over the last year, I have locked myself in a cave <s>and have gone
              hard to work</s> and worked like a hermit to bring you WRITE ANOTHER ONE:
              a writing platform for stories, fictional/factual, to bring
              together the imagination of authors undiscovered and the eyes and
              hearts of avid story readers. <s>A place to give life to your tales
              and hone your story telling skill.</s>

          </span>
          <br>
          <span>
              This platform is my first major project <s>but</s> and  although it took me
              months to build, it is the conclusion of a journey of more than
              half a decade. Now I take off the hat of creator and put on the hat of editor.
              Over the coming months I will update the site regularly with new
              functionalities, polish, and quality of life improvements
              so the most important things is always front and center:
              <br><u class="col-center-container fw-bold">The Content</u>
          </span>
          <br>
          <span>
              I hope you enjoy WRITE ANOTHER ONE, and if you do: message me.
          </span>
          <br>
          <div class="button-container centered-container ff-body fs-body-4">
            <a class="button-pill button-green" href="{% url 'author:login' %}">Start Writing</a>
          </div>
      </main>
      </div>

    </div>
</main>


{% endblock %}