{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="layout__main-container">
        <main class="main">

            <header class="main__header">
                <div class="header-feed content-container">
                    <div class="alt-author-card">
                        <header class="alt-author-card__image-container">
                            <img class="icon-xl icon-round" src="story-image.webp" alt="">
                        </header>
                        <main class="alt-author-card__main-container">
                            <div class="alt-author-card__author-name">
                                <div class="alt-author-card__info">

                                    <div class="ff-sub-title fs-body-1 fw-bold">
                                        {{user}}
                                    </div>
                                    <div class="alt-author-card__name-footer text-alt-secondary">
                                        <div>
                                            @{{user.get_username}}
                                        </div>
                                        <div>
                                            57k Followers
                                        </div>

                                    </div>
                                </div>
                                <div class="button-container">

                                    <div class="button-pill">
                                        follow
                                    </div>
                                </div>
                            </div>
                            <div class="alt-author-card__description fs-body-3 text-secondary">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo rem minus nihil blanditiis aut voluptatibus earum sint provident, cumque accusamus?
                            </div>

                        </main>
                        
                    </div>
                    
                    <footer class="header-feed__footer-container">
                        <div class="header-feed__footer-tab--active">
                            Stories
                        </div>
                        <div class="header-feed__footer-tab">
                            Lists
                        </div>
                        <div class="header-feed__footer-tab">
                            About
                        </div>
                    </footer>
                </div>
            </header>
            
            
            <div class="main__content col-container">

                {% for story in stories %}
                {% if story.author_id == user %}
                
                <div class="story-card__container">
                    <article class="story-card content-container">
                        
                        <header class="story-card__header ff-sub-title fs-body-3">
                            
                            <img class="icon-sm icon-round" src="story-image.webp" alt="">
                            <div>
                                {{ story.author_id }}
                            </div>
                            <div>
                                ·
                            </div>
                            <div class="text-alt-secondary">
                                {{ story.published_date }}
                            </div>
                            
                            
                        </header>
                        <main class="story-card__main-container">
                            <div class="story-card__text-container">
                                <header class="story-card__title ff-title fs-heading-3 fw-bold">
                                    {{ story.title }}
                                </header>
                                <main class="story-card__description ff-read fs-body-3 fw-reg">
                                    {{ story.content | slice:":180" }}...
                                </main>
                                <footer class="story-card__footer-container">
                                    <footer class="story-card__footer">
                                        
                                        <div>
                                            {% for tag in story.tags.names %}
                                            <div class="tag-card__tag-icon">
                                                {{ tag }}
                                            </div>
                                            {% endfor %}

                                        </div>
                                        
                                        <div class="story-card__buttons">
                                            <div class="button-container">
                                                <img class="icon-xsm" id="svg-icon-primary" src="{% static 'wao_project/svg/more-icon.svg' %}" alt="">
                                                <img class="icon-xsm" id="svg-icon-primary" src="{% static 'wao_project/svg/bookmark-add.svg' %}" alt="">
                                            </div>
                                            
                                        </div>
                                    </footer>
                                </footer>
                            </div>
                            
                            <div class="story-card__image-container">
                                <img src="story-image4.webp" alt="">
                            </div>
                        </main>
                        
                        
                        
                    </article>
                </div> 
                <div class="flex-container">
                    <div class="content-container divider-item">
                        
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                

                    
            </div>
        </main>
    </main>
{% endblock %}