{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}



{% block content %}


    <main class="layout__main-container">
        
        

        <main class="main">

            <header class="main__header text-secondary">
                <div class="header-feed content-container">
                    <header class="header-feed__title-container">
                        <div class="header-feed__title fs-heading-4 fw-bold text-main">
                            Home
                        </div>
                        <div class="search-bar-container">
                            <form class="search-bar" action="{% url 'story:story-search-results' %}" method="GET">
                                <img class="icon-xsm" src="{% static 'svg/search-icon.svg' %}" alt="">
                                <input type="text" name="q" id="" placeholder="search">
                            </form>
                        </div>
                        

                    </header>
                    <main class="header-feed__main-container">
                        {% for user in user_extra %}
                        <div class="button-container">
                            <a href="{% url 'author:detailed_author' user.user.username user.user.id %}">
                                <img class="icon-md icon-round" src="/{{ user.cover_image }}" alt="">
                            </a>
                            <!-- <div class="fs-body-5 icon-notification">
                                9+
                            </div> -->
                        </div>

                        {% endfor %}
                        <div class="button-container">
                            <img class="icon-xsm svg-icon-primary" src="{% static 'svg/add-icon.svg' %}" alt="">
                        </div>

                    </main>
                    <main class="header-feed__main-container text-main">
                        
                        {% for tag in current_user.following_tags.all %}
                        <a href="{% url 'story:detailed-tag' tag.slug %}">
                            <div class="tag-card__tag-icon-lg">
                                {{tag.name}}
                            </div>
                        </a>
                        
                        {% endfor %}
                        
                        <!-- <img class="icon-xsm" id="svg-icon-primary" src="{% static 'svg/next.svg' %}" alt=""> -->
                    </main>
                    <footer class="header-feed__footer-container">
                        <div class="header-feed__footer-tab--active">
                            Following
                        </div>
                        <div class="header-feed__footer-tab">
                            Recommendations
                        </div>
                        
                    </footer>
                </div>
            </header>
            <div class="main__content">

                
                {% for story in following_stories %}
                
                {% include 'story_app/story_card.html' %}
                
                {% endfor %}

        </main>
    </main>

    

{% endblock %}
    
{% block scripts %}
<script>
    function reply_click(storyClicked){
        const story = storyClicked
        $.ajax({
            type: 'POST',
            url: '{% url "story:like_story_ajax" %}',
            data: {
                storypk: storyClicked,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            cache: false,
            success: function(json) {
                document.getElementById(`${story}-like-count`).innerHTML = json['result'];
                document.getElementById(`${story}-like-story-icon`).src = json['liked']
                console.log('success')
            },
            error: function(xhr, errmsg, err) {
                
            }
        });
    }
</script>
{% endblock %}