{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}



{% block content %}


    <main class="layout__main-container">
        
        

        <main class="main">

            <header class="main__header text-secondary">
                <div class="header-feed content-container">
                    <header class="header-feed__title-container">
                        <div class="header-feed__title fs-heading-4 fw-bold text-main">
                            Home
                        </div>
                        <div class="search-bar-container">
                            <form class="search-bar" action="{% url 'story:story-search-results' %}" method="GET">
                                <img class="icon-xsm" src="{% static 'svg/search-icon.svg' %}" alt="">
                                <input type="text" name="q" id="" placeholder="search">
                            </form>
                        </div>
                        

                    </header>
                    <main class="header-feed__main-container">
                        {% for user in following_users %}
                        <div class="button-container">
                            <a href="{% url 'author:detailed_author' user.user.username user.user.id %}">
                                <img class="icon-md icon-round" src="/{{ user.cover_image }}" alt="">
                            </a>
                            <!-- <div class="fs-body-5 icon-notification">
                                9+
                            </div> -->
                        </div>

                        {% endfor %}
                        <div class="button-container">
                            <img class="icon-xsm" id="svg-icon-primary" src="{% static 'svg/add-icon.svg' %}" alt="">
                        </div>

                    </main>
                    <main class="header-feed__main-container text-main">
                        
                        {% for tag in current_user.following_tags.all %}
                        <a href="{% url 'story:detailed-tag' tag.slug %}">
                            <div class="tag-card__tag-icon-lg">
                                {{tag.name}}
                            </div>
                        </a>
                        
                        {% endfor %}
                        
                        <!-- <img class="icon-xsm" id="svg-icon-primary" src="{% static 'svg/next.svg' %}" alt=""> -->
                    </main>
                    <footer class="header-feed__footer-container">
                        <div class="header-feed__footer-tab--active">
                            Following
                        </div>
                        <div class="header-feed__footer-tab">
                            Recommendations
                        </div>
                        
                    </footer>
                </div>
            </header>
            <div class="main__content">

                <button type="button" id="testing-ajax" class="btn btn-success btn-lg">GET</button>
                <ul id="seconds">


                </ul>
                {% csrf_token %}
                <ul id="ajax-success">

                </ul>
                {% for story in following_stories %}
                    
                <div class="story-card__container">
                    <article class="story-card content-container">
                        <a href="{% url 'author:detailed_author' story.author_id.username story.author_id.id %}">
                        <header class="story-card__header ff-sub-title fs-body-3 text-alt-secondary">
                            {% for author in following_users %}
                                {% if author.user == story.author_id %}
                                <img class="icon-xsm icon-round" src="/{{ author.cover_image }}" alt="">

                                {% endif %}
                            {% endfor %}
                            <div class="text-main">
                                {{ story.author_id }}
                            </div>
                            <div>
                                ·
                            </div>
                            <div class="">
                                {{ story.published_date }}
                            </div>
                            
                            
                        </header>
                        </a>
                        
                        <main class="story-card__main-container">
                            <div class="story-card__text-container">
                                <header class="story-card__title ff-title fs-heading-3 fw-bold">
                                        <a href="{% url 'story:detailed_story' story.author_id story.slug story.pk %}">
                                            {{ story.title }}
                                        </a>
                                    </header>
                                    <main class="story-card__description ff-read fs-body-3 fw-reg text-secondary">
                                        {{ story.content | slice:":180" }}...
                                    </main>
                                <footer class="story-card__footer-container">
                                    <footer class="story-card__footer">
                                        
                                        <div>
                                            {% for tag in story.tags.all %}
                                            <a href="{% url 'story:detailed-tag' tag.slug %}">
                                                <div class="tag-card__tag-icon">
                                                    {{ tag.name }}
                                                </div>
                                            </a>
                                            {% endfor %}

                                        </div>
                                        
                                        <div class="story-card__buttons">
                                            <div class="button-container">
                                                <div class="dropdown">
                                                    <div class="" type="button" data-toggle="dropdown" >
                                                        <img class="icon-xsm" id="svg-icon-primary" src="{% static 'svg/more-icon.svg' %}" alt="">
                                                    </div>
                                                    <div class="dropdown-menu fs-body-4">
                                                    {% if request.user == story.author_id %}
                                                    <a class="dropdown-item" href="{% url 'story:update-story' story.author_id story.slug story.pk %}">Edit</a>
                                                    {% else %}
                                                    <a class="dropdown-item" href="">Block</a>
                                                    {% endif %}

                                                    <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown">
                                                    <div class="" type="button" data-toggle="dropdown" >
                                                        <img class="icon-xsm" id="svg-icon-primary" src="{% static 'svg/bookmark-add.svg' %}" alt="">
                                                    </div>
                                                    <div class="dropdown-menu fs-body-4">
                                                    <a class="dropdown-item" href="#">btn 1</a>
                                                    
                                                    <a class="dropdown-item" href="#">btn 2</a>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </footer>
                                </footer>
                            </div>
                            
                            <div class="story-card__image-container">
                                <img class="story-card__image" src="/{{ story.cover_image}}" alt="">
                            </div>
                        </main>
                        
                        
                    </article>
                </div> 

            
                <div class="flex-container">
                    <div class="content-container divider-item">
                        
                    </div>
                </div>
                {% endfor %}
                       
                
            
            
            
            
                
            
        </main>
    </main>

    

{% endblock %}
    
