{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}



{% block content %}


    <main class="layout__main-container">
        
        

        <main class="main">

            <header class="main__header text-secondary">
                <div class="header-feed content-container">
                    <header class="header-feed__title-container">
                        <div class="header-feed__title fs-heading-4 fw-bold text-main">
                            Home
                        </div>
                        <div class="search-bar-container">
                            <form class="search-bar" action="{% url 'story:story-search-results' %}" method="GET">
                                <img class="icon-xsm" src="{% static 'svg/search-icon.svg' %}" alt="">
                                <input class="search-bar-input" type="text" name="q" id="" placeholder="search">
                            </form>
                        </div>
                        

                    </header>
                    <div class="col-container-1">
                        <main class="header-feed__main-container">
                            
                            <div class="horizontal-scroll-container">
    
                            
                                {% for user in user_extra %}
                                
                                <div class="button-container">
                                    <a href="{% url 'author:detailed_author' user.user.username user.user.id %}">
                                        <img class="icon-md icon-round" src="{{ user.cover_image.url }}" alt="">
                                    </a>
                                    <!-- <div class="fs-body-5 icon-notification">
                                        9+
                                    </div> -->
                                </div>
                                {% empty %}
                                <a class="button-pill button-green" href="{% url 'story:author-search-results' %}">
                                    Authors you follow will show up here
                               </a>
                                {% endfor %}
                                
                            </div>
                                <div class="button-container">
                                    <a href="{% url 'story:author-search-results' %}">
                                        <img class="icon-xsm svg-icon-primary" src="{% static 'svg/add-icon.svg' %}" alt="">
                                    </a>
                                
                                </div>
    
                        </main>
                        <main class="header-feed__main-container text-main">
                            
                            <div class="horizontal-scroll-container">
                                {% for tag in current_user.tags.all %}
                                
                                <a href="{% url 'story:detailed-tag' tag.slug %}">
                                    <div class="tag-card__tag-icon-lg">
                                        {{tag.name}}
                                    </div>
                                </a>
                                {% empty %}
                                
                                <a class="button-pill button-green" href="{% url 'story:tag_search_results' %}">
                                     Tags you follow will show up here
                                </a>
                                
                                {% endfor %}
                            </div>
                            <div class="button-container">
                                <a href="{% url 'story:tag_search_results' %}">
                                    <img class="icon-xsm svg-icon-primary" src="{% static 'svg/add-icon.svg' %}" alt="">
                                </a>
                                
                            </div>
                            <!-- <img class="icon-xsm" id="svg-icon-primary" src="{% static 'svg/next.svg' %}" alt=""> -->
                        </main>

                    </div>
                    <footer class="header-feed__footer-container">
                        <div class="header-feed__footer-tab--active">
                            Following
                        </div>
                        <div class="header-feed__footer-tab">
                            <a href="{% url 'story:recommendations_feed' %}">
                                Recommendations
                            </a>
                        </div>
                        
                    </footer>
                </div>
            </header>
            <div class="main__content">

                
                {% for story in following_stories %}
                
                <div class="story-card__container">
                    <article class="story-card content-container">
                        <a href="{% url 'author:detailed_author' story.author_id.username story.author_id.id %}">
                        <header class="story-card__header ff-body fs-body-3 text-alt-secondary">
                            {% for author in user_extra %}
                                {% if author.user == story.author_id %}
                                <img class="icon-xsm icon-round" src="{{ author.cover_image.url }}" alt="">
                
                                {% endif %}
                            {% endfor %}
                            <div class="text-main">
                                {{ story.author_id }}
                            </div>
                            <div>
                                ·
                            </div>
                            <div class="">
                                {{ story.published_date }}
                            </div>
                            
                            
                        </header>
                        </a>
                        
                        <main class="story-card__main-container">
                            <div class="story-card__text-container">
                                <header class="story-card__title ff-title fs-heading-3 fw-bold">
                                        <a href="{% url 'story:detailed_story' story.author_id story.slug story.pk %}">
                                            {{ story.title }}
                                        </a>
                                    </header>
                                    <main class="story-card__description ff-read fs-body-3 fw-reg text-secondary">
                                        {{ story.content_minified | slice:":180" }}...
                                    </main>
                                <footer class="story-card__footer-container">
                                    <footer class="story-card__footer">
                                        
                                        <div>
                                            
                                            <a href="{% url 'story:detailed-tag' story.tags.all.first.slug %}">
                                                <div class="tag-card__tag-icon">
                                                    {{ story.tags.all.first.name }}
                                                </div>
                                            </a>
                                            
                
                                        </div>
                                        
                                        <div class="story-card__buttons">
                                            <div class="button-container">
                                                {% if request.user in story.likes.all %}
                                                <button id="like-story-button" onclick="storyClick(this.value)" value="{{story.pk}}">
                                                    <div class="button-pill button-pill-md">
                                                        {% csrf_token %}
                                                        <img class="icon-xxsm svg-icon-accent" id="{{story.pk}}-like-story-icon" src="{% static 'svg/like-icon-filled.svg' %}" alt="">
                                                        <span id="{{story.pk}}-like-count">{{story.like_count}}</span>
                                                    </div>
                                                </button>
                                                {% else %}
                                                <button id="like-story-button" onclick="storyClick(this.value)" value="{{story.pk}}">
                                                    <div class="button-pill button-pill-md">
                                                        {% csrf_token %}
                                                        <img class="icon-xxsm svg-icon-accent" id="{{story.pk}}-like-story-icon" src="{% static 'svg/like-icon.svg' %}" alt="">
                                                        <span id="{{story.pk}}-like-count">{{story.like_count}}</span>
                                                    </div>
                                                </button>
                                                {% endif %}
                
                                                
                                                
                
                                                <div class="dropdown">
                                                    
                                                    <button class="" data-toggle="dropdown">
                                                        <img id="" class="icon-xsm svg-icon-primary" src="{% static 'svg/bookmark-add.svg' %}" alt="">
                                                    </button>
                                                    <div class="dropdown-menu fs-body-4">
                                                        {% for list in current_user.lists.all %}
                                                        {% if story in list.stories.all %}
                                                        <div class="dropdown-item">
                                                            <div class="button-container" id="add-to-list-button" onclick="addStoryToList(this.value)" value="{{story.pk}}|{{list.pk}}">
                                                                {% csrf_token %}
                                                                <img class="icon-xsm" id="{{story.pk}}-in-{{list.pk}}" src="{% static 'svg/check-box-icon-filled.svg' %}" alt="">
                                                                <span>{{list}}</span>
                                                            </div>
                                                        
                                                        </div>
                                                        {% else %}
                                                        <div class="dropdown-item">
                                                            <div class="button-container" id="add-to-list-button" onclick="addStoryToList(this.value)" value="{{story.pk}}|{{list.pk}}">
                                                                {% csrf_token %}
                                                                <img class="icon-xsm" id="{{story.pk}}-in-{{list.pk}}" src="{% static 'svg/check-box-icon.svg' %}" alt="">
                                                                <span>{{list}}</span>
                                                            </div>
                                                        
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </footer>
                                </footer>
                            </div>
                            
                            <a class="story-card__image-container" href="{% url 'story:detailed_story' story.author_id story.slug story.pk %}">
                                <img class="story-card__image" src="{{ story.cover_image.url}}" alt="">
                            </a>
                        </main>
                        
                        
                    </article>
                </div> 
                
                
                <div class="flex-container">
                    <div class="content-container divider-item">
                        
                    </div>
                </div>
                
                
                {% endfor %}

        </main>
    </main>

    

{% endblock %}