{% extends 'base.html' %}
{% load static %}

{% block content %}



    <main class="layout__main-container">
        <main class="main">

            <header class="main__header">
                <div class="header-feed content-container">
                    <header class="header-feed__title-container">
                        <div class="flex-container">
                            <div class="fs-heading-4 fw-bold text-main">
                                {{object.name | capfirst}}
                            </div>
                            <div class="header-feed__owner">
                                {% for user_extra in user_extras %}
                                {% if object.user.pk == user_extra.user.pk %}
                                <img class="icon-sm icon-round" src="/{{ user_extra.cover_image }}" alt="">
                                {% endif %}
                                {% endfor %}
                                
                                <div class="ff-sub-title fs-body-3">
                                    {{object.user.get_full_name}}
                                </div>
                            </div>
                        </div>
                        <div class="button-container">
                            <div class="button-pill fw-bold">
                                Pin
                            </div>
                            <img class="icon-xsm" id="svg-icon-primary" src="{% static 'svg/drop-down-button.svg' %}" alt="">
                        </div>
                    </header>
                    <main class="header-feed__main-container">
                        <div class="text-container-start">
                            {{ object.description }}
                        </div>
                    </main>
                    
                
                    <footer class="header-feed__footer-container">
                        <div class="button-container">
                            {{ object.stories.all.count }} Stories
                        </div>
                        <div class="button-container">
                            ·
                        </div>
                        <div class="header-feed__footer-item button-container">
                            {{object.pinners.count}} pins
                        </div>

                    </footer>
                </div>
            </header>
            
            <div class="main__content col-container">

                {% for story in object.stories.all %}
                <div class="story-card__container">
                    <article class="story-card content-container">
                        <a href="{% url 'author:detailed_author' story.author_id.username story.author_id.id %}">
                            <header class="story-card__header ff-sub-title fs-body-3">
                                {% for user_extra in user_extras %}
                                {% if story.author_id.pk == user_extra.user.pk %}
                                <img class="icon-xsm icon-round" src="/{{ user_extra.cover_image }}" alt="">
                            
                                {% endif %}
                                {% endfor %}
                                
                                <div>
                                    {{story.author_id}}
                                </div>
                                <div>
                                    ·
                                </div>
                                <div class="text-alt-secondary">
                                    {{story.published_date}}
                                </div>
                                
                                
                            </header>
                        </a>
                        <main class="story-card__main-container">
                            <div class="story-card__text-container">
                                <header class="story-card__title ff-title fs-heading-3 fw-bold">
                                        <a href="{% url 'story:detailed_story' story.author_id story.slug story.pk %}">
                                            {{story.title}}
                                        </a>
                                    </header>

                                    <main class="story-card__description ff-read fs-body-3 fw-reg">
                                        {{story.content | slice:":180" }}...
                                    </main>
                                <footer class="story-card__footer-container">
                                    <footer class="story-card__footer">
                                        
                                        <div>
                                            {% for tag in story.tags.all %}
                                            <a href="{% url 'story:detailed-tag' tag.slug %}">
                                                <div class="tag-card__tag-icon">
                                                    {{ tag.name }}
                                                </div>
                                            </a>
                                            {% endfor %}

                                        </div>
                                        
                                        <div class="story-card__buttons">
                                            <div class="button-container">
                                                <div class="dropdown">
                                                    <div class="" type="button" data-toggle="dropdown" >
                                                        <img class="icon-xsm" id="svg-icon-primary" src="{% static 'svg/more-icon.svg' %}" alt="">
                                                    </div>
                                                    <div class="dropdown-menu fs-body-4">
                                                    {% if request.user == story.author_id %}
                                                    <a class="dropdown-item" href="{% url 'story:update-story' story.author_id story.slug story.pk %}">Edit</a>
                                                    {% else %}
                                                    <a class="dropdown-item" href="">Block</a>
                                                    {% endif %}

                                                    <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown">
                                                    <div class="" type="button" data-toggle="dropdown" >
                                                        <img class="icon-xsm" id="svg-icon-primary" src="{% static 'svg/bookmark-add.svg' %}" alt="">
                                                    </div>
                                                    <div class="dropdown-menu fs-body-4">
                                                    <a class="dropdown-item" href="#">btn 1</a>
                                                    
                                                    <a class="dropdown-item" href="#">btn 2</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </footer>
                                </footer>
                            </div>

                            <div class="story-card__image-container">
                                <img class="story-card__image" src="/{{story.cover_image}}" alt="">
                            </div>
                        </main>
                        
                        
                            
                    </article>
                </div> 
                
                <div class="flex-container">
                    <div class="content-container divider-item">

                    </div>
                </div>

                {% endfor %}
                    
            </div>
            

        </main>
    </main>
{% endblock %}