{% extends 'base.html' %}
{% load static %}

{% block content %}


    <main class="layout__main-container">
        <main class="main">

            <header class="main__header">
                <div class="header-feed content-container">
                    <header class="header-feed__title-container">
                        <div class="flex-container">
                            <div class="fs-heading-4 fw-bold text-main">
                                {{object.name | capfirst}}
                            </div>
                            <div class="header-feed__owner">
                                <a class="button-container" href="{% url 'author:detailed_author' object.user object.user.pk %}">
                                    <img class="icon-sm icon-round" src="{{ list_owner.cover_image.url }}" alt="">

                                    <div class="ff-body fs-body-3">
                                        {{object.user}}
                                    </div>
                                </a>
                                </div>
                        </div>
                        <div class="button-container">
                            {% if request.user in object.pinners.all %}
                            <button id="pin-list-button" onclick="pinList(this.value)" value="{{object.pk}}">
                                <div class="icon-sm">
                                    {% csrf_token %}
                                    
                                    <img id="{{ object.pk }}-pinned" src="{% static 'svg/in-list-icon.svg' %}" alt="">
                                </div>
                            </button>

                            {% else %}
                            <button id="pin-list-button" onclick="pinList(this.value)" value="{{object.pk}}">
                                <div class="icon-sm">
                                    {% csrf_token %}
                                    
                                    <img id="{{ object.pk }}-pinned" src="{% static 'svg/add-to-list-icon.svg' %}" alt="">
                                </div>
                            </button>
                            
                            {% endif %}
                            
                        </div>
                    </header>
                    <main class="header-feed__main-container">
                        <div class="text-container-start">
                            {{ object.description }}
                        </div>
                    </main>
                    
                
                    <footer class="header-feed__footer-container">
                        <div class="button-container">
                            {{ object.stories.all.count }} Stories
                        </div>
                        <div class="button-container">
                            ·
                        </div>
                        <div class="header-feed__footer-item button-container">
                            
                            <span id="{{object.pk}}-pin-count">{{object.pinner_count}}</span> Pins
                            
                        </div>

                    </footer>
                </div>
            </header>
            
            <div class="main__content col-container">

                {% for story in object.stories.all %}
                <div class="story-card__container">
                    <article class="story-card content-container">
                        <a href="{% url 'author:detailed_author' story.author_id.username story.author_id.id %}">
                            <header class="story-card__header ff-body fs-body-3">
                                {% for user_extra in user_extras %}
                                {% if story.author_id.pk == user_extra.user.pk %}
                                <img class="icon-xsm icon-round" src="{{ user_extra.cover_image.url }}" alt="">
                            
                                {% endif %}
                                {% endfor %}
                                
                                <div>
                                    {{story.author_id}}
                                </div>
                                <div>
                                    ·
                                </div>
                                <div class="text-alt-secondary">
                                    {{story.published_date}}
                                </div>
                                
                                
                            </header>
                        </a>
                        <main class="story-card__main-container">
                            <div class="story-card__text-container">
                                <header class="story-card__title ff-title fs-heading-3 fw-bold">
                                        <a href="{% url 'story:detailed_story' story.author_id story.slug story.pk %}">
                                            {{story.title}}
                                        </a>
                                    </header>

                                    <main class="story-card__description ff-read fs-body-3 fw-reg">
                                        {{story.content_minified | slice:":180" }}...
                                    </main>
                                <footer class="story-card__footer-container">
                                    <footer class="story-card__footer">
                                        
                                        <div>
                                            
                                            <a href="{% url 'story:detailed-tag' story.tags.all.first.slug %}">
                                                <div class="tag-card__tag-icon">
                                                    {{ story.tags.all.first.name }}
                                                </div>
                                            </a>
                                            

                                        </div>
                                        
                                        <div class="story-card__buttons">
                                            <div class="button-container">
                
                                                {% if request.user in story.likes.all %}
                                                <button id="like-story-button" onclick="storyClick(this.value)" value="{{story.pk}}">
                                                    <div class="button-pill button-pill-md">
                                                        {% csrf_token %}
                                                        <img class="icon-xxsm svg-icon-accent" id="{{story.pk}}-like-story-icon" src="{% static 'svg/like-icon-filled.svg' %}" alt="">
                                                        <span id="{{story.pk}}-like-count">{{story.like_count}}</span>
                                                    </div>
                                                </button>
                                                {% else %}
                                                <button id="like-story-button" onclick="storyClick(this.value)" value="{{story.pk}}">
                                                    <div class="button-pill button-pill-md">
                                                        {% csrf_token %}
                                                            <img class="icon-xxsm svg-icon-accent" id="{{story.pk}}-like-story-icon" src="{% static 'svg/like-icon.svg' %}" alt="">
                                                            <span id="{{story.pk}}-like-count">{{story.like_count}}</span>
                                                        </div>
                                                    </button>
                                                {% endif %}
                                                
                                                {% if request.user == story.author_id %}
                                                <div class="dropdown">
                                                    <div class="" type="button" data-toggle="dropdown" >
                                                        <img class="icon-xsm svg-icon-primary" src="{% static 'svg/more-icon.svg' %}" alt="">
                                                    </div>
                                                    <div class="dropdown-menu fs-body-4">
                                                    
                                                        <a class="dropdown-item" href="{% url 'story:update-story' story.author_id story.slug story.pk %}">Edit</a>
                                                        <a class="dropdown-item" href="{% url 'story:delete-story' story.slug story.pk %}">Delete</a>
                                                
                
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if story in object.stories.all %}
                                                
                                                    <button class="button-container" id="add-to-list-button" onclick="addStoryToThisList(this.value)" value="{{story.pk}}|{{object.pk}}">
                                                        {% csrf_token %}
                                                        <img class="icon-xsm" id="{{story.pk}}-in-this-{{object.pk}}" src="{% static 'svg/remove-item-icon.svg' %}" alt="">
                                                    </button>
                                                {% else %}
                                                    <button class="button-container" id="add-to-list-button" onclick="addStoryToThisList(this.value)" value="{{story.pk}}|{{object.pk}}">
                                                        {% csrf_token %}
                                                        <img class="icon-xsm" id="{{story.pk}}-in-this-{{object.pk}}" src="{% static 'svg/add-item-icon.svg' %}" alt="">
                                                        
                                                    </button>
                                                {% endif %}
                                                
                                                    
                                            </div>

                                        </div>
                                    </footer>
                                </footer>
                            </div>

                            <div class="story-card__image-container">
                                <img class="story-card__image" src="{{story.cover_image.url}}" alt="">
                            </div>
                        </main>
                        
                        
                            
                    </article>
                </div> 
                
                <div class="flex-container">
                    <div class="content-container divider-item">

                    </div>
                </div>

                {% endfor %}
                    
            </div>
            

        </main>
    </main>
{% endblock %}

