{% extends 'base.html' %}
{% load static %}

{% block content %}



    <main class="layout__main-container">
        <main class="main">

            <header class="main__header">
                <div class="header-feed content-container">
                    <header class="header-feed__title-container">
                        <div class="flex-container">
                            <div class="header-feed__owner">
                                <div class="button-container">
                                    <img class="icon-sm" id="svg-icon-primary" src="{% static 'svg/tag-icon.svg' %}" alt="">
                                </div>
                            </div>
                            <div class="fs-heading-4 fw-bold text-main">
                                {{object.name | capfirst}}
                            </div>
                        </div>
                        <div class="button-container">
                            


                            {% if object in current_user.tags.all %}
                            <button id="follow-tag-button" onclick="followTag(this.value)" value="{{object.pk}}">
                                
                                {% csrf_token %}
                                <div class="button-pill" id="{{ object.pk }}-followed">Following</div>
                               
                            </button>
                            {% else %}
                            <button id="follow-tag-button" onclick="followTag(this.value)" value="{{object.pk}}">
                                
                                {% csrf_token %}
                                <div class="button-pill" id="{{ object.pk }}-followed">Follow</div>
                               
                            </button>
                            {% endif %}
                            
                        </div>
                    </header>
                    <main class="header-feed__main-container">
                        
                    </main>
                    
                
                    <footer class="header-feed__footer-container">
                        
                        <div class="header-feed__footer-item button-container">
                            <span id="{{ object.pk }}-follower-count">{{tag_extra.follower_count}}</span>Followers
                        </div>
                        <div class="header-feed__footer-item button-container">
                            <span id="{{ object.pk }}-story-count">{{tag_extra.story_count}}</span>Stories
                        </div>

                    </footer>
                </div>
            </header>

            
            
            <div class="main__content col-container">

                {% for story in stories %}
                {% if object.name in story.tags.names.all %}
                <div class="story-card__container">
                    <article class="story-card content-container">
                        <a href="{% url 'author:detailed_author' story.author_id.username story.author_id.id %}">
                            <header class="story-card__header ff-body fs-body-3">
                                {% for user_extra in user_extras %}
                                {% if story.author_id.pk == user_extra.user.pk %}
                                <img class="icon-sm icon-round" src="{{ user_extra.cover_image.url }}" alt="">
                            
                                {% endif %}
                                {% endfor %}
                                
                                <div>
                                    {{story.author_id}}
                                </div>
                                <div>
                                    ·
                                </div>
                                <div class="text-alt-secondary">
                                    {{story.show_time_since}}
                                </div>
                                
                                
                            </header>
                        </a>
                        <main class="story-card__main-container">
                            <div class="story-card__text-container">
                                <header class="story-card__title ff-title fs-heading-3 fw-bold">
                                    <a href="{% url 'story:detailed_story' story.author_id story.slug story.pk %}">
                                        {{story.title}}
                                    </a>
                                    </header>

                                    <main class="story-card__description ff-read fs-body-3 fw-reg">
                                        {{story.content_minified | slice:":180" }}...
                                    </main>
                                <footer class="story-card__footer-container">
                                    <footer class="story-card__footer">
                                        
                                        <div>
                                            
                                            
                                            <a href="{% url 'story:detailed-tag' story.tags.all.first.slug %}">
                                                <div class="tag-card__tag-icon">
                                                    {{ story.tags.all.first.name }}
                                                </div>
                                            </a>
                                            

                                        </div>
                                        
                                        <div class="story-card__buttons">
                                            <div class="button-container">
                                                {% if request.user in story.likes.all %}
                                                <button id="like-story-button" onclick="storyClick(this.value)" value="{{story.pk}}">
                                                    <div class="button-pill button-pill-md">
                                                        {% csrf_token %}
                                                        <img class="icon-xxsm svg-icon-accent" id="{{story.pk}}-like-story-icon" src="{% static 'svg/like-icon-filled.svg' %}" alt="">
                                                        <span id="{{story.pk}}-like-count">{{story.likes.count}}</span>
                                                    </div>
                                                </button>
                                                {% else %}
                                                <button id="like-story-button" onclick="storyClick(this.value)" value="{{story.pk}}">
                                                    <div class="button-pill button-pill-md">
                                                        {% csrf_token %}
                                                        <img class="icon-xxsm svg-icon-accent" id="{{story.pk}}-like-story-icon" src="{% static 'svg/like-icon.svg' %}" alt="">
                                                        <span id="{{story.pk}}-like-count">{{story.likes.count}}</span>
                                                    </div>
                                                </button>
                                                {% endif %}


                                                {% if request.user == story.author_id %}
                                                <div class="dropdown">
                                                    <button class="" data-toggle="dropdown" >
                                                        <img class="icon-xsm svg-icon-primary" src="{% static 'svg/more-icon.svg' %}" alt="">
                                                    </button>
                                                    <div class="dropdown-menu fs-body-4">
                                                        <a class="dropdown-item" href="{% url 'story:update-story' story.author_id story.slug story.pk %}">Edit</a>
                                                        <a class="dropdown-item" href="{% url 'story:delete-story' story.slug story.pk %}">Delete</a>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="dropdown">
                                                    
                                                    <button class="" data-toggle="dropdown">
                                                        <img id="" class="icon-xsm svg-icon-primary" src="{% static 'svg/bookmark-add.svg' %}" alt="">
                                                    </button>
                                                    <div class="dropdown-menu fs-body-4">
                                                        {% for list in current_user.lists.all %}
                                                        {% if story in list.stories.all %}
                                                        <div class="dropdown-item">
                                                            <button class="button-container" id="add-to-list-button" onclick="addStoryToList(this.value)" value="{{story.pk}}|{{list.pk}}">
                                                                {% csrf_token %}
                                                                <img class="icon-xsm" id="{{story.pk}}-in-{{list.pk}}" src="{% static 'svg/check-box-icon-filled.svg' %}" alt="">
                                                                <span>{{list}}</span>
                                                            </button>
                                                        
                                                        </div>
                                                        {% else %}
                                                        <div class="dropdown-item">
                                                            <button class="button-container" id="add-to-list-button" onclick="addStoryToList(this.value)" value="{{story.pk}}|{{list.pk}}">
                                                                {% csrf_token %}
                                                                <img class="icon-xsm" id="{{story.pk}}-in-{{list.pk}}" src="{% static 'svg/check-box-icon.svg' %}" alt="">
                                                                <span>{{list}}</span>
                                                            </button>
                                                        
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </footer>
                                </footer>
                            </div>

                            <a class="story-card__image-container" href="{% url 'story:detailed_story' story.author_id story.slug story.pk %}">
                                <img class="story-card__image" src="{{ story.cover_image.url}}" alt="">
                            </a>
                        </main>
                        
                        
                            
                    </article>
                </div> 
                
                <div class="flex-container">
                    <div class="content-container divider-item">

                    </div>
                </div>

                {% endif %}
                {% endfor %}
                    
            </div>
            

        </main>
    </main>
{% endblock %}
