{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="layout__main-container">
        <main class="main">

            <header class="main__header text-secondary">
                <div class="header-feed content-container">
                    <header class="header-feed__title-container">
                        <div class="header-feed__title fs-heading-4 fw-bold text-main">
                            Explore
                        </div>
                        <div class="search-bar-container">
                            <div class="search-bar">
                                <img class="icon-xsm"  src="search-icon.svg" alt="">
                                <input type="text" name="" id="" placeholder="search">
                            </div>
                            <div class="button-container">
                                <div class="button-container">
                                    <div class="button-pill">
                                        Filter
                                    </div>
                                </div>
                                <div class="button-container">
                                    <div class="button-pill">
                                        Sort
                                    </div>
                                </div>

                            </div>

                        </div>
                    </header>
                    <main class="header-feed__main-container">
                        54 total results
                    </main>
                    <footer class="header-feed__footer-container">
                        <div class="header-feed__footer-tab--active">
                            All Results
                        </div>
                        <div class="header-feed__footer-tab">
                            Stories
                        </div>
                        <div class="header-feed__footer-tab">
                            Authors
                        </div>
                        <div class="header-feed__footer-tab">
                            Lists
                        </div>
                        <div class="header-feed__footer-tab">
                            Tags
                        </div>
                    </footer>
                </div>
            </header>
            
            
            <div class="main__content col-container">
                
                <div class="flex-container">
                    <div class="fs-body-1 content-container divider-section">
                        Authors
                    </div>

                </div>
                <div class="author-card__container">
                    <article class="author-card content-container">
                        <main class="author-card__main-container">
                            <!-- <header class="author-card__icon-container"> -->
                            <img class="icon-md icon-round" src="story-image.webp" alt="">
                            <!-- </header> -->
                            <main class="author-card__text-container">
                                
                                <div class="author-card__author-info text-secondary">
                                    <div class="ff-sub-title fs-body-2 text-main fw-bold">
                                        Francisco Pages
                                    </div>
                                    
                                    <div class="author-card__info-container">
                                        <div>
                                            @F_Pages
                                        </div>
                                        <div>
                                            ·
                                        </div>
                                        <div>
                                            62 stories
                                        </div>
                                    </div>

                                </div>
                                <div class="author-card__description fs-body-3 text-secondary">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae sit excepturi sunt commodi officia eaque.
                                </div>
                            </main>
                            
                        </main>
                        <footer class="author-card__buttons button-container">
                            <div class="button-pill">
                                Follow
                            </div>
                        </footer>
                    </article>
                </div>
                <div class="flex-container">
                    <div class="content-container divider-item">

                    </div>
                </div>
                
                
                <div class="flex-container">
                    <div class="fs-body-1 content-container divider-section">
                        Stories
                    </div>

                </div>


                

                
                <div class="story-card__container">
                    <article class="story-card content-container">
                        <header class="story-card__header ff-sub-title fs-body-3">
                            
                            <img class="icon-xsm icon-round" src="story-image.webp" alt="">
                            <div>
                                Francisco Pages
                            </div>
                            <div>
                                ·
                            </div>
                            <div class="text-alt-secondary">
                                August 12, 2022
                            </div>
                            
                            
                        </header>
                        
                        <main class="story-card__main-container">
                            <div class="story-card__text-container">
                                <header class="story-card__title ff-title fs-heading-3 fw-bold">
                                    This Is The Title of The Story
                                </header>
                                <main class="story-card__description ff-read fs-body-3 fw-thin">
                                    We are talking now of summer evenings in Knoxville, Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, perspiciatis!
                                </main>
                                <footer class="story-card__footer-container">
                                    <footer class="story-card__footer">
                                        
                                        <div class="tag-card__tag-icon">
                                            tagwefwef 
                                        </div>
                                        
                                        <div class="story-card__buttons">
                                            <div class="button-container">
                                                <img class="icon-xsm" id="svg-icon-primary" src="more-icon.svg" alt="">
                                                <img class="icon-xsm" id="svg-icon-primary" src="bookmark-add.svg" alt="">
                                            </div>

                                        </div>
                                    </footer>
                                </footer>
                            </div>

                            <div class="story-card__image-container">
                                <img src="story-image2.webp" alt="">
                            </div>
                        </main>
                        
                        
                            
                    </article>
                </div> 
                <div class="flex-container">
                    <div class="content-container divider-item">

                    </div>
                </div>

                <div class="flex-container">
                    <div class="fs-body-1 content-container divider-section">
                        Popular Tags
                    </div>

                </div>
                

                <div class="tag-card__container">
                    <div class="content-container tag-card">
                        <div class="tag-card__left-container">
                            <div class="button-container">
                                <img class="icon-sm" id="svg-icon-primary" src="{% static 'svg/tag-icon.svg' %}" alt="">
                            </div>
                            <div class="tag-card__text-container">
                                <div class="fs-body-3 fw-bold">
                                    name
                                </div>
                                <div class="tag-card__footer fs-body-3 text-secondary">
                                    <div>
                                        3k followers
                                    </div>
                                    <div>
                                        80k stories
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="tag-card__follow-button button-container">
                            <div class="button-pill">
                                Follow
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-container">
                    <div class="content-container divider-item">

                    </div>
                </div>
                

                <div class="flex-container">
                    <div class="fs-body-1 content-container divider-section">
                        All Tags
                    </div>

                </div>
                

                
                <div class="content-container wrap-container">
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    <div class="tag-card__tag-icon-lg">
                        tag 
                    </div>
                    

                </div>

                
                

                <div class="flex-container">
                    <div class="fs-body-1 content-container divider-section">
                        Lists
                    </div>

                </div>
                
                <div class="list-card__container">
                    <a href="">
                        <article class="list-card content-container">
                            <div class="list-card__main-container">
                                <div class="list-card__text-container">
                                    <header class="list-card__header">
                                        <div class="list-card__title fs-heading-4 fw-bold">
                                            Favorites
                                        </div>
                                        
                                    </header>
                                    <main class="list-card__description fs-body-3 text-secondary">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita omnis numquam, quisquam ipsum vel unde quibusdam, impedit amet non placeat hic nisi reprehenderit fugit commodi.
                                    </main>
                                    
                                </div>
                                <footer class="list-card__footer-container text-alt-secondary">
                                    <div class="list-card__footer">

                                        <div class="list-card__footer-info">
                                            <div class="list-card__author">
                                
                                                <img class="icon-xsm icon-round" src="story-image.webp" alt="">
                                                <div class="ff-sub-title fs-body-3 text-main">
                                                FranciscoPages
                                                </div>
                                            </div>
                                            <div class="list-card__footer-about">
                                                
                                                <div class="button-container">
                                                    4 stories
                                                </div>
                                                <div class="button-container">
                                                    ·
                                                </div>
                                                <div class="button-container">
                                                    237k pins
                                                </div>

                                            </div>
                                        </div>

                                        <div class="button-container">
                                            <img class="icon-xsm" id="svg-icon-primary" src="more-icon.svg" alt="">
                                        </div>
                                    </div>
                                    
                                    
                                </footer>
                            </div>
                            <div class="list-card__image-container">
                                <img src="story-image.webp" alt="">
                            </div>
                        </article>
                    </a>
                </div>

                <div class="flex-container">
                    <div class="content-container divider-item">

                    </div>
                </div>

                

                
                
            </div>
        </main>
    </main>      
{% endblock %}