{% extends "base.html" %}


{% block content %}

<main class="layout__main-container">
  <main class="main">
    <header class="main__header">
      <div class="header-feed text-container-thin">
        <header class="header-feed__title-container">
          <div class="header-feed__title fs-heading-2 fw-bold ff-title centered-container col-center-container">
            
            
            <div class="col-center-container">
                <span class="the-title fs-body-3">The</span>
                <span>Write</span>
            </div>
            <span>Another One</span>
         
          </div>
        </header>

        <footer class="col-center-container fw-bold fs-body-5 ff-sub-title">
            <div>&lt;&lt; Letter from the Editor &gt;&gt;</div>
            <div class="fw-semi-bold">Francisco J. PAGES</div>
        </footer>
      </div>
    </header>

    <div class="main__content ">
      <div class="flex-container">

        <main class="content_container centered-container col-container text-container-thin fs-body-3 ff-read">
            <span>Dear Reader,</span>
            <br>
            <span>
                Over the last year, I have locked myself in a cave and blocked all 
                exits and have gone hard to work to bring you WRITE ANOTHER ONE: 
                a writing platform for stories, fictional/factual, to bring 
                together the imagination of authors undiscovered and the eyes and 
                hearts of avid story readers. A place to give body to your tales 
                and hone your story telling skill. 
                
            </span>
            <br>
            <span>
                This platform is my first major project and although it took me 
                months to build, it is the conclusion of a journey of more than 
                half a decade and the turning of a new page of my own story. 
                Now I take off the hat of creator and put on the hat of editor; 
                Over the coming months I will update the site regularly with new 
                functionalities, polish, and quality improvements
                so the most important things is always front and center: 
                <br><u class="col-center-container fw-bold">The Content</u>
            </span>
            <br>
            <span>
                I hope you enjoy WRITE ANOTHER ONE and if you do (or don't): message me.
            </span>
        </main>
      </div>

    </div>
</main>


{% endblock %}
