{% extends "base.html" %}


{% block content %}

<main class="layout__main-container">
  <main class="main">
    <header class="main__header">
      <div class="header-feed text-container-thin">
        <header class="header-feed__title-container">
          <div class="header-feed__title fs-heading-2 fw-bold ff-title centered-container col-center-container">
            
            
            <div class="col-center-container">
                <span class="the-title fs-body-3">The</span>
                <span>Write</span>
            </div>
            <span>Another One</span>
         
          </div>
        </header>

        <footer class="col-center-container fw-bold fs-body-4 ff-sub-title">
            <div>&lt;&lt; Letter from the Editor &gt;&gt;</div>
            <div class="fw-semi-bold">Francisco J. PAGES</div>
        </footer>
      </div>
    </header>

    <div class="main__content ">
      <div class="flex-container">

        <main class="content_container centered-container col-container text-container-thin fs-body-1 ff-read">
            <span>Dear Reader,</span>
            <br>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, enim! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo quo voluptate architecto accusantium necessitatibus ipsa aliquid facilis ipsam fugiat tempora.</span>
            <br>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque praesentium nobis minima.</span>
            <br>
            <span></span>
        </main>
      </div>

    </div>
</main>


{% endblock %}
