{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}
    <main class="layout__main-container">
        <main class="main">
            
            <header class="main__header">
                <div class="header-feed content-container">
                    <header class="header-feed__title-container">
                        <div class="header-feed__title fs-heading-4 fw-bold text-main">
                            Delete Story
                        </div>
                        
                        
                    </header>
                    
                
                    
                </div>
            </header>
            
            
            
            <div class="main__content col-container">
                <div class="content-container centered-container">
                    {% if request.user == object.author_id %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="fs-heading-4">
                            <div>
                                Are you sure you want to delete "{{object}}"?
                            </div> 
                            <div>
                                There is not turning back from this.
                            </div> 
                        </div>
                        <div class="button-container">
                            <button type="submit" class="button-pill button-red">Delete</button>
                            
                            <a class="button-pill button-blue" href="{% url 'author:detailed_author' request.user request.user.pk %}">No, take me back!</a>
                        </div>

                    </form>
                    {% endif %}
                </div>
                

                    
            </div>
        </main>
    </main>
{% endblock %}



