{% extends 'base.html' %}
{% load static %}


{% block content %}

<form class="flex-container" method="POST" enctype="multipart/form-data">
    <main class="layout__main-container">
        
        <main class="main">

            <header>
                <div class="write__header">
                    <div class="write__editor-container">
                        
                        <img class="icon-md icon-round" src="{{current_user.cover_image.url}}" alt="">

                        <div class="ff-body">
                            {{ request.user }}
                        </div>
                                
                    </div>
                    <div class="write__buttons-container">
                        
                        {% if "/story/update-story/" in request.path %}
                        <div class="button-container">
                            <a class="button-pill button-red" href="{% url 'story:delete-story' object.slug object.pk %}">Delete</a>

                        </div>
                        {% endif %}
                        
                        <div class="button-container">
                            
                            <a href="#" class="button-pill button-green" data-toggle="modal" data-target="#exampleModal">Publish</a>
                            
                        </div>
                    </div>
                </div>
            </header>

            <main class="main__content col-container">
                
                <div class="write__main-container">

                    {% csrf_token %}
                    
                    <div class="write__title-container ff-read fs-heading-2 text-alt-secondary">
                        {{form.title}}
                    </div>
                    <div class="text-alt-secondary story__buttons-container">
                        <span class="button-pill button-pill-sm" id="count">12000</span>
                    </div>
                
                    <div class="write__content-container ff-read fs-body-1 text-alt-secondary">
                        {{form.content}}
                    </div>
                    
                    
                    
                

                    

                    <div class="modal" tabindex="-1" id="exampleModal">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <div class="fw-bold fs-body-1 modal-title">Add stuff</div>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body write__modal-body">
                                
                                <div class="write__tags-container">
                                    <span>Add tags (you can add as many as you like but only the first one will be visible): </span><span>{{form.tags}}</span>
                                </div>
                                <div>
                                    <span>Add a cover to your story: </span><span>{{form.cover_image}}</span>
                                            
                                        
                                        
                                    
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button class="button-pill button-red" data-dismiss="modal">Back</button>
                              <button class="button-pill button-green" type="submit">Publish</button>
                            </div>
                          </div>
                        </div>
                      </div>
              
                        
              
                </div>
                </main>
            </main>
        </main>
    </form>
{% endblock %}

