{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    .editor__content {
        height: {{content_height}}
    }
</style>
{% endblock %}

{% block content %}

<form class="flex-container" method="POST" enctype="multipart/form-data">
    <main class="layout__main-container">
        
        <main class="main">

            <header class="main__header">
                <div class="write__header">
                    <div class="write__editor-container">
                        
                        <img class="icon-md icon-round" src="{{current_user.cover_image.url}}" alt="">

                        <div class="ff-sub-title">
                            {{ request.user }}
                        </div>
                                
                    </div>
                    <div class="write__buttons-container">
                    
                        
                        <div class="button-container">
                            
                            <a href="#" class="button-pill" data-toggle="modal" data-target="#exampleModal">Publish</a>
                            
                        </div>
                    </div>
                </div>
            </header>

            <main class="main__content col-container">
                
                <div class="write__main-container">

                    {% csrf_token %}
                    
                    <div class="write__title-container ff-read fs-heading-2 text-alt-secondary">
                        {{form.title}}
                    </div>
                
                
                    <div class="write__content-container ff-read fs-body-1 text-alt-secondary">
                        {{form.content}}
                    </div>
                    
                    
                    
                

                    

                    <div class="modal" tabindex="-1" id="exampleModal">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <div class="fw-bold fs-body-1 modal-title">Confirm</div>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body write__modal-body">
                                
                                <div>
                                    <span>{{form.tags.label}}: </span><span>{{form.tags}}</span>
                                </div>
                                <div>
                                    <span>Add a cover to your story: </span><span>{{form.cover_image}}</span>
                                            
                                        
                                        
                                    
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="button-pill" data-dismiss="modal">Close</button>
                              <button class="button-pill" type="submit">Publish</button>
                            </div>
                          </div>
                        </div>
                      </div>
              
                        
              
                    </div>
                </main>
            </main>
        </main>
    </form>
{% endblock %}